---
import Layout from '../layouts/Layout.astro';
---

<Layout title="OfferPlace App">
	<main class="flex flex-row justify-center justify-items-center h-screen bg-[url('/public/hero.webp')] bg-no-repeat bg-cover bg-center">
		<h1 class="pt-20 text-white text-[3rem]">Donde las ofertas cobran vida</h1>
	</main>
</Layout>


